body {
   background-image: url("../Images/background.png");
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
img.img-circle {
	border:2px solid #DDD;
	width:100px;
	display:inline;
	border-radius:50%
}