body {
   background-image: url("../Images/background.png");
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
img.img-circle {
	border:2px solid #DDD;
	width:100px;
	display:inline;
	border-radius:50%
}
div.media-body {
	border: 3px solid #c5d2d6;
	padding: 40px;
	border-radius: 20px;
	width: 600px;
}